<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dn_alan.module2">

    <application android:name="application.ModuleAApplication">


        <activity android:name="application.ModuleAActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.devyk.component_eventbus.proevent.service.MessengerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.devyk.component_eventbus.service"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

    </application>
</manifest>
